
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
header {
    text-align: center;
    z-index: 100;
    margin-top: 10px;
    margin-bottom: 10px; 
}
body {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;

}

.navbar {
  font-family: 'Playfair Display', serif; /* Añadir esta línea */
}

footer {
  font-family: 'Playfair Display', serif; /* Añadir esta línea */
}

.navbar-brand img {
  width: 80px;
}

.navbar-nav {
  align-items: center;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.1em;
  padding: 0.5em 1em;
}

@media screen and (min-width: 768px) {
  .navbar-brand img {
    width: 100px;
  }
  .navbar-brand {
    margin-right: 0;
    padding: 0 1em;
  }
}

@media screen and (orientation: landscape) {
  .carousel img {
    height: 100vh;
  }
}

/* Sección historia */
.history .container-fluid {
  display: flex;
  align-items: center;
}

.history .historia {
  max-width: 700px;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-size: 1.5rem;
}

.history .historia h2 {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
}

.history .historia p {
  color: #555;
  margin-bottom: 20px;
}

.history img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Sección vinos */
.wine-types .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 50px;
}

.wine-types h2 {
  color: #333; 
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.wine-types p {
  max-width: 700px; 
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-size: 1.5rem;
  color: #555;
}

.wine-types img {
  width: 100%;
  height: auto;
}

#contact {
  display: flex;
  flex-direction: row;
}

#map, #form {
  flex: 1;
  margin-right: 20px;
}

/* Sección historia */
.history {
  background-color: #f8f9fa;
  padding: 60px 0;
  border-top: 1px solid #e9ecef;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.history .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.historia {
  max-width: 700px;
  font-family: 'Playfair Display', serif;
  text-align: center; /* Asegúrate de que el texto esté centrado */
  font-size: 1.5rem;
}

.historia h2 {
  color: #333;
  font-size: 2.5rem;
}

.historia p {
  color: #555;
  margin-bottom: 20px;
  text-align: justify;
}

.historia img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 20px 0; /* Añade margen para separar el texto de la imagen */
}

/* Sección frase */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inspiration-section {
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeIn 7s ease-in-out;
}

.inspiration-text {
  color: #333;
  animation: fadeIn 7s ease-in-out;
}

.inspiration-section h2 {
  font-size: 2.5rem;
  font-family: 'Playfair Display', serif;
}

.inspiration-section p {
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  color: #555;
}

.events-section h2 {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.events-section p {
  max-width: 700px;
  font-family: 'Playfair Display', serif;
  text-align: justify;
  font-size: 1.5rem;
  color: #555;
  padding: 0 20px;
}

.events-section img {
  width: 100%;
  height: auto;
}

.cta-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.club-heading {
  color: #333;
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.club-paragraph, h2 {
  max-width: 700px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  padding: 0 20px;
}
.club-info {
  max-width: 700px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 1.5rem;
  color: #555;
  padding: 0 20px;
  margin-top: 20px;
  list-style: none;
}

.club-info li {
  margin-bottom: 10px;
}
.club-info li {
  text-align: center;
}
.contact-info-wrapper {
  text-align: center;
  margin-top: 20px;
}

#contact .container {
  padding-top: 50px;
  padding-bottom: 50px;
}

#form {
  margin-bottom: 20px;
}

#map {
  height: 100%;
}

#redes_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
/* Estilos adicionales para el logo */
footer img {
  margin-top: 10px; /* Espacio entre el texto y el logo */
}

/* Nuevos estilos para la sección de eventos */
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-format {
  font-family: 'Playfair Display', serif;
  font-size: 3rem; /* Cambia el tamaño de la fuente según tus necesidades */
  color: #333; /* Cambia el color según tus necesidades */
  text-align: center; /* Asegura que el texto esté centrado */
  margin-bottom: 20px; /* Ajusta el margen inferior */
}

.subtitle-format {
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem; 
  color: #555; /* Cambia el color según tus necesidades */
  text-align: center; /* Asegura que el texto esté centrado */
  margin-bottom: 40px; /* Ajusta el margen inferior */
}
.product-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .product-card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .product-title {
    font-size: 20px;
    margin: 0;
  }
  
  .product-description {
    margin: 10px 0;
  }
  
  .product-price {
    font-weight: bold;
    margin: 0;
  }